.header {
	background: var(--darkBlue);
	height: 50px;
	align-items: center;
	display: flex;
	padding: 0rem 1rem;
}

.header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header .wrapper ul {
	display: flex;
}

.header .wrapper ul a {
	color: white;
	padding: 7px 1rem;
	font-family: poppins;
}